<h1>You are now in the Category Search function</h1>
<div class="searchButton">
    <button type="submit" ng-click="#" class="btn btn-primary">A</button>
    <button type="submit" ng-click="#" class="btn btn-primary">B</button>
    <button type="submit" ng-click="#" class="btn btn-primary">C</button>
    <button type="submit" ng-click="#" class="btn btn-primary">D</button>
    <button type="submit" ng-click="#" class="btn btn-primary">E</button>
    <button type="submit" ng-click="#" class="btn btn-primary">F</button>
    <button type="submit" ng-click="#" class="btn btn-primary">G</button>
    <button type="submit" ng-click="#" class="btn btn-primary">H</button>
    <button type="submit" ng-click="#" class="btn btn-primary">I</button>
    <button type="submit" ng-click="#" class="btn btn-primary">J</button>
    <button type="submit" ng-click="#" class="btn btn-primary">K</button>
    <button type="submit" ng-click="#" class="btn btn-primary">L</button>
    <button type="submit" ng-click="#" class="btn btn-primary">M</button>
    <button type="submit" ng-click="#" class="btn btn-primary">N</button>
    <button type="submit" ng-click="#" class="btn btn-primary">O</button>
    <button type="submit" ng-click="#" class="btn btn-primary">P</button>
    <button type="submit" ng-click="#" class="btn btn-primary">Q</button>
    <button type="submit" ng-click="#" class="btn btn-primary">R</button>
    <button type="submit" ng-click="#" class="btn btn-primary">S</button>
    <button type="submit" ng-click="#" class="btn btn-primary">T</button>
    <button type="submit" ng-click="#" class="btn btn-primary">U</button>
    <button type="submit" ng-click="#" class="btn btn-primary">V</button>
    <button type="submit" ng-click="#" class="btn btn-primary">W</button>
    <button type="submit" ng-click="#" class="btn btn-primary">X</button>
    <button type="submit" ng-click="#" class="btn btn-primary">Y</button>
    <button type="submit" ng-click="#" class="btn btn-primary">Z</button>
    <button type="submit" ng-click="#" class="btn btn-primary">Æ</button>
    <button type="submit" ng-click="#" class="btn btn-primary">Ø</button>
    <button type="submit" ng-click="#" class="btn btn-primary">Å</button>
</div>

<div class="col-xs-6 col-md-4"></div>
<div class="wikiListClass col-xs-6 col-md-4" >
    <p style="color: #105cb6">
        <input type="text" class="form-control" placeholder="Enter category"/><br><br>
        <button type="submit" ng-click="#" class="btn btn-primary">Search</button>
    <ol ng-repeat="">
        <ul></ul>
    </ol>
    </p>
</div>
<div class="col-xs-6 col-md-4"></div>
