body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wikiListClass {
    text-align: center;
    padding-top: 100px;
}

.searchButton {
    padding-top: 10px;
    font-size: 2px;
    text-align: center;
    position: fixed;
}

input[placeholder]
{
    text-align: center;
}

h1 {
    text-align: center;
}