body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wikiListClass {
    text-align: center;
    padding-top: 100px;
}

ul {
    text-align: left;

}

.searchButton {
    padding-top: 10px;
    font-size: 2px;
    text-align: center;
    position: fixed;
}

input[placeholder] {
    text-align: center;
}

.outerDiv.ng-hide-remove {
    -webkit-transition: 0s linear all;
    transition: 0s linear all;
    transition-delay: 0s;
    opacity: 0;
}

.outerDiv.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

div.wikiListClass.col-xs-6.col-md-6.ng-scope > nav > div > ul {
    text-align: center;
}

div.wikiListClass.col-xs-6.col-md-6.ng-scope > nav > div > ul > li > a {
    padding: 15px 5px;
}

div.wikiListClass.col-xs-6.col-md-6.ng-scope > nav {
    margin: 10px 0px;
}


/* End navigation bar styling. */