<h1 class="text-center">Wikipedia Articles</h1>
<div class="col-xs-6 col-md-3"></div>
<div class="wikiListClass col-xs-6 col-md-6">
    <p style="color: #105cb6">
        <input type="text" class="form-control" ng-disabled="searching" ng-model="searchString" ng-enter="search()" placeholder="Search title"/><br>
        <button type="submit" ng-disabled="searching" ng-click="search()" class="btn btn-primary">Search <i ng-show="searching" class="fa fa-circle-o-notch fa-spin"></i></button>
    <p style="color: #c12e2a">{{error}}</p>
    <div title-abstract></div>
    </p>
</div>
<div class="col-xs-6 col-md-3"></div>
